<div class="locationShow">
<h2>Members in <%= @location.country%>:</h2>

<ul>
  <%@location.users.distinct.each do  |user|%>
  <li>
    <%=user.first_name %>
  </li>
  <% end %>
</ul>


<div>
  <% if @location.messages.any? %>
    <div id="messages">
      <%= render partial: 'messages/message', collection: @location.messages%>
    </div>
  <%else%>
    <div class=id="messages">
    </div>
  <%end%>
</div>

  <%= render partial: 'messages/message_form', locals: {message: @message, location: @location}%>

  <button><%= link_to "Back to Countries", locations_path %></button>

</div>
