<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">`
  <link href="https://fonts.googleapis.com/css?family=Give+You+Glory|Port+Lligat+Slab" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= @home_page ? 'homepage' : ''%>">


  <div class="<%= ! @home_page ? 'hero' : ''%>">
    <h1 class="<%= @home_page ? 'title' : '' %>"> Make Friends, Will Travel</h1>
    <h2>
      <% if @current_user %>
        <%= link_to "Hey, #{@current_user.first_name}!", user_path(@current_user) %> |
        <%= link_to "Sign Out", session_path, method: :delete %>
      <% end %>
    </h2>
  </div>

  <% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
  <% end %>
  <%= yield %>
</body>
</html>
